<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>EnergyTracker</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<nav>
    <a href="{% url 'home' %}">Domů</a>
    <a href="{% url 'drinks_list' %}">Nápoje</a>
    <a href="{% url 'stats' %}">Statistiky</a>
    <a href="{% url 'add_record' %}">Přidat záznam</a>

    <div style="float:right;">
        {% if user.is_authenticated %}
            <span style="color:white; font-weight:bold;">
                👋 Ahoj, {{ user.username }}
            </span>
            <a href="{% url 'logout' %}">Odhlásit</a>
        {% else %}
            <a href="{% url 'login' %}">Přihlásit</a>
            <a href="{% url 'register' %}">Registrace</a>
        {% endif %}
    </div>
</nav>

<hr>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>